<h1>All Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">ID</th>
      <th scope="col">Customer</th>
      <th scope="col">Business/Seller</th>
      <th scope="col">Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.id %></td>
        <td><%= user&.customer? ? user&.customer&.first_name : "-"%></td>
        <td><%= user&.seller? ? user&.seller&.first_name : "-"%></td>
        <td><%= user&.admin? ? user&.admin&.first_name : "-"%></td>
        <td><%= link_to 'Delete', admin_delete_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>