<!--<p id="notice"><%= notice %></p>-->

<h1 class="current-category"><%= params[:category] %></h1>
<%= if @products.count == 0 %>
    <h1>Oops! Sorry! There are no products currently available in this category</h1>
    <% @products.each do |product| %>
    
<% else %>

    <h2><%= link_to product.name, product_path(product)  %><h2>
      
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
    <% end %>

<% end %>
 

<br>

<%= link_to 'Add New Cuisine', new_product_path %>
